.navbar {
  height: 80px;
  background-color: #fff2f7;
  display: flex;
  align-items: center;
  padding: 0 20px;
  justify-content: space-between;
  color: #ff97bf;
  position: fixed;
  width: calc(100% - 20px);
  top: 0;
  z-index: 10;
}

.navbar-logo {
    height: 80px;
    margin-right: 32px;
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    align-content: center;
    justify-content: center;
    align-items: stretch;
}
.navbar-title {
  font-size: 25px;
  font-weight: bold;
  color: #fc6ea5;
  display: flex;
  align-items: center;
}
.navbar-logo img {
  height: 80px;
}

.search-bar {
  padding: 8px;
  border-radius: 4px;
  border: none;
  width: 300px;
}

.navbar-right {
  display: flex;
  align-items: center;
  margin-right: 35px;
}

.navbar-right .icon {
  padding: 8px 14px;
  font-size: 20px;
  cursor: pointer;
}
.navbar-right .icon:hover {
  color: #005fa3;
}

.navbar-right button {
  background-color:  #fff2f7;
  color: #fc6ea5;
  font-size: 17px;
  border: none;
  padding: 8px 12px;
  border-radius: 6px;
  cursor: pointer;
}

.account-dropdown {
  position: relative;
}

.dropdown-menu {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 40px;
    right: 0;
    background-color: white;
    color: black;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;
}

.dropdown-menu .buttons{
  background-color: white;
  color: #fc6ea5;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 5px;
}

.dropdown-menu-plus {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 55px;
    color: black;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    flex-wrap: wrap;
    align-content: center;
    justify-content: space-evenly;
    align-items: center;

}