.dashboard-container {
  display: flex;
  height: 100vh;
  flex-direction: column; 
}

.bookmarks-container {
  display: flex;
  height: 100vh;
  flex-direction: column; 
}

.posts-section {
  position: relative;
  display: flex;
  flex-direction: column-reverse;
  align-items: center;
  flex-grow: 1;
  margin-top: 55px;
  padding: 20px;
  left: 60px;
}