/* CoverPage.css */
.middle-section{
    font-size: 25px;
    background-color: #fff8fb;
    display: flex;
    align-items: center;
}

.middle-section p{
    color: #fc6ea5;
    background-color: #eee;
    padding: 30px;
    margin: 30px;
    text-align: center;
}
.middle-section img {
  height: 600px;
  margin-top: 54px; 
  background-position: center;
  display: flex;
  justify-content: center;
}

.cover-footer {
  background-color: #fef1f7;
  display: flex;
  justify-content: center;
  padding: 1rem;
  background: #eee;
  text-align: center;
}
.cover-footer a {
  text-decoration: none;
  color: #333;
}      